@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header-selection {
    @apply font-bold bg-slate-200 dark:bg-slate-800
  }

  .custom-shadow {
    @apply shadow-lg dark:shadow-slate-800
  }
}